

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="text-blue-500 hover:text-blue-800">
        <img src="https://www.hau.edu.ph/images/logo-circle.png" class="h-16" alt="HAU Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">HAU</span>
    </a>
    <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-solid-bg" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
       
        <li>
          <a routerLink="/add-book" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Add Books</a>
        </li>
        <li>
          <a routerLink="/books-list" routerLinkActive="active">Show Books</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<mat-radio-group aria-label="Select an option">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" id="home-icon"></mat-icon>
  <mat-radio-button value="1">Fiction</mat-radio-button>
  <mat-radio-button value="2">Non-Fiction</mat-radio-button>
  <mat-radio-button value="3">Historical Fiction</mat-radio-button>
</mat-radio-group>

<mat-list role="list">
  <h3 id="list-names">LIST OF BOOKS YOU WANT TO ADD</h3>
  <mat-list-item role="listitem1">Fiction - You May Now Kill the Bride, Familiaris, The Alchemist, Frankenstein</mat-list-item>
  <mat-list-item role="listitem">Non-Fiction - The Power of Habit, Quiet, Becoming, The Emperor of All Maladies</mat-list-item>
  <mat-list-item role="listitem">Historical Fiction - The Book Thief, The Help, The Pillars of Earth, Wolf Hall, The Kite Runner</mat-list-item>
</mat-list>


<div class="card-container">
<mat-card class="example-card">
  <mat-card-header class="title">
    <mat-card-title>Fiction</mat-card-title>
    <mat-card-subtitle>Genre</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://website-cdn.studysmarter.de/sites/2/uk/Literary-Fiction-Books-dark-min-2048x1152.png" alt="Photo of a Shiba Inu" class="book-image">
  <mat-card-content>
    <p>
      Fiction is a literary genre that encompasses imaginative narratives, often exploring invented or unreal events, characters, and settings. Through storytelling, fiction allows readers to escape into worlds of fantasy, adventure, or speculative concepts, providing entertainment while also delving into themes, emotions, and human experiences that resonate with the reader's own reality. 
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Non-Fiction</mat-card-title>
    <mat-card-subtitle>Genre</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://prh.imgix.net/articles/20bestnonfiction2022-1600x800.jpg" alt="Photo of a Shiba Inu" class="book-image">
  <mat-card-content>
    <p>
      Non-fiction literature encompasses factual accounts, observations, and analyses of real-world events, people, or subjects, providing readers with informative and often enlightening insights into various aspects of reality. Unlike fiction, non-fiction works strive to convey accurate information, shedding light on historical events, scientific discoveries, personal experiences, or instructional guidance without the embellishments of imagination.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Historical Fiction</mat-card-title>
    <mat-card-subtitle>Genre</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://celadonbooks.com/wp-content/uploads/2020/03/Historical-Fiction-1024x596.jpg" alt="Photo of a Shiba Inu" class="book-image">
  <mat-card-content>
    <p>
      Historical fiction is a genre that intertwines fictional narratives with real historical events, settings, and figures, offering readers a captivating glimpse into the past. Through richly imagined storytelling, it brings history to life, blending factual accuracy with imaginative storytelling to immerse readers in a bygone era.
    </p>
  </mat-card-content>
</mat-card>

</div>


<!-- <nav class="bg-white border-gray-200 dark:bg-gray-900">
 
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Show Books</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/add-book">Add Books</a>
      </li>
    </ul>
  </div>
</nav> -->

<router-outlet></router-outlet>